<% @page_title = "Create Admin"%>
<%= link_to("<< back to admin list", admin_users_path, :class=> 'back-link') %>

<div class="new">
<h2>Create Admin</h2>
    <%= form_for(@adminuser, :url => admin_users_path, :method => 'post') do |f| %>
        <%= render(:partial=> 'form', :locals => {:f => f}) %>

        <div class="form-buttons">
            <%= f.submit("Create User")%>
        </div>
    <% end %>
</div>